<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sithelo/index.json" />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sithelo" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>